{% extends 'pegasus_app/base.html' %}

{% block body %}

<style type="text/css">
        .select {
            display: flex;
            flex-direction: column;
        }

        .selected {
            display: none;
        }

</style>

<div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; width: 83%;     padding: 0 30px;">
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ phone_config_form.as_p }}
        <div class="d-flex flex-column">
        </div>
       <h4>Scheduling</h4>
<div class="d-flex">
  {{ schedule_formset.management_form }}
  <table>
      {% for schedule_form in schedule_formset %}
      {{ schedule_form }}
      {% endfor %}
  </table>


</div>
        <button type="submit"><a href="{% url 'home' %}">Cancel</a></button>
        <button type="submit">SAVE</button>

    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="checkbox"]').change(function(){
             var inputValue = $(this).attr("name");
            if($(this).is(":checked")){
                     $("." + inputValue).show();
            }
            else if($(this).is(":not(:checked)")){
                $("." + inputValue).hide();
            }
        });
    });

</script>
</div>


{% endblock body %}
