{% extends 'pegasus_app/base.html' %}

{% block body %}

<style type="text/css">
        .select {
            display: none;
        }

        .selected {
        display: flex;
        flex-direction: column;
        }




</style>

<div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; width: 83%;     padding: 0 30px;">
        <div class="d-flex ">
            <h1 style="margin-right: 80px">Verify Phone</h1>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Call check
                </button>
                <ul class="dropdown-menu">
                    {% for p in phone %}
                    {{ p.get_absolute_url }}
                    <li><a class="dropdown-item" href="{{ p.get_absolute_url }}">{{ p.phone }}</a></li>
                    {% endfor %}
                                            <li><a class="dropdown-item" href="{% url 'home' %}">Add new Phone</a></li>
                </ul>
            </div>
        </div>

    <form method="POST">
        {% csrf_token %}
        <div class="d-flex">
            <h3 style="margin-right: 10px;">Enable</h3>
            <input type="checkbox">
        </div>
        <div class="d-flex flex-column">
            <label>IMA Name
            </label>
            <input class="form-control" type="text" value="" name="ima_name" id="id_ima_name"
                   style="width: 300px; margin-bottom: 20px;">
            <label>Phone Number with code area
            </label>
            <input class="form-control" type="tel" name="phone" maxlength="128" required="" id="id_phone"
                   style="width: 300px; margin-bottom: 20px;">
            <div class="form-error">{{ phone_config_form.errors.phone}}</div>
            <div class="d-flex" style="justify-content: space-between;">
                <div>
                    <label>Failure Threshold</label>
                    <input type="range" name="failure_threshold" min="1" max="10" required="" id="id_failure_threshold"
                           oninput="id_output_failure_threshold.value = id_failure_threshold.value">
                </div>
                <output name="output_failure_threshold" id="id_output_failure_threshold">Notify after 4 failures
                </output>

            </div>
            <div class="d-flex" style="justify-content: space-between; margin-bottom: 20px;">
                <div>
                    <label>Test Frequency</label>
                    <input type="range" name="test_frequency" min="10" max="120" step="5" required=""
                           id="id_test_frequency"
                           oninput="id_output_test_frequency.value = id_test_frequency.value">
                </div>
                <output name="output_test_frequency" id="id_output_test_frequency">Check every 10 minutes (10 to 120)
                </output>
            </div>
        </div>
        <h4>Scheduling</h4>
        <div class="d-flex">
            <div class="d-flex" style="margin-right: 60px;">
                <lable for="id_schedules-0-day" style="display: flex; flex-direction: column;">
                    Monday
                    <input type="" name="schedules-0-day" id="id_schedules-0-day" value="Monday" hidden>
                    <input type="checkbox" name="schedules-0-is_active" id="id_schedules-0-is_active" style="margin-bottom: 10px; width: 60px;">
                    <div class='schedules-0-is_active select'>
                        <label for="id_schedules-0-open_time">Open</label>
                        <input type="time" name="schedules-0-day.open_time"
                               id="id_schedules-0-open_time">
                        <label for="id_schedules-0-close_time">Close</label>
                        <input type="time" name="schedules-0-day.close_time"
                               id="id_schedules-0-close_time"
                               style="margin-bottom: 20px">
                    </div>
                </lable>
            </div>


        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('input[type="checkbox"]').click(function() {
     var inputValue = $(this).attr("name");
     $("." + inputValue).toggleClass('selected');

    });

   });




</script>
</div>


{% endblock body %}
