{% extends 'pegasus_app/base.html' %}

{% block body %}

<style type="text/css">
        .select {
            display: none;
        }

        .selected {
        display: flex;
        flex-direction: column;
        }










</style>
<div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; width: 83%;     padding: 0 30px;">
    <form method="POST">
        {% csrf_token %}
        {{ config_form.as_p }}
        <div class="d-flex flex-column">
            <!--            <label>IMA Name-->
            <!--            </label>-->
            <!--            <input type="text" value="" name="ima_name" id="id_ima_name">-->
            <!--            <label>Phone Number with code area-->
            <!--            </label>-->
            <!--            <input type="tel" name="phone" maxlength="128" required="" id="id_phone">-->
<!--            <div>-->
<!--                <label>Failure Threshold</label>-->
<!--                <input type="range" name="failure_threshold" min="1" max="10" required="" id="id_failure_threshold"-->
<!--                       oninput="id_output_failure_threshold.value = id_failure_threshold.value">-->
<!--                <output name="output_failure_threshold" id="id_output_failure_threshold">Notify after 4 failures-->
<!--                </output>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>Call Frequency</label>-->
<!--                <input type="range" name="call_frequency" min="10" max="120" step="5" required="" id="id_call_frequency"-->
<!--                       oninput="id_output_call_frequency.value = id_call_frequency.value">-->
<!--                <output name="output_call_frequency" id="id_output_call_frequency">Check every 10 minutes (10 to 120)-->
<!--                </output>-->
<!--            </div>-->
        </div>
        <h4>Scheduling</h4>
        <div class="d-flex">

            {{ schedule_formset.management_form }}
            {% for form in schedule_formset %}

            <div class="d-flex flex-column" style="margin-right: 60px;">
                {{ form.id }}
                {{ form.day }}
                {{ form.is_active }}

                <div class="{{ form.is_active.html_name }} select">
                    <!--                    <label for="{{ form.open_time.id_for_label }}">Open</label>-->
                    <!--                    <input type="time" name="{{ form.open_time.html_name }}"-->
                    <!--                           id="{{ form.open_time.id_for_label }}">-->
                    <!--                    <label for="{{ form.close_time.id_for_label }}">Close</label>-->
                    <!--                    <input type="time" name="{{ form.close_time.html_name }}"-->
                    <!--                           id="{{ form.close_time.id_for_label }}"-->
                    <!--                           style="margin-bottom: 20px">-->
                    {{ form.open_time }}
                    {{ form.close_time}}
                </div>
            </div>
            {% endfor %}

        </div>
        <button type="submit">SUBMIT</button>
</div>

</form>
<script type="text/javascript">
   $(document).ready(function() {
    $('input[type="checkbox"]').click(function() {
     var inputValue = $(this).attr("name");
     $("." + inputValue).toggleClass('selected');

    });
   });






</script>
</div>


{% endblock body %}